body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

  @keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 5px #b011ff, 0 0 5px #b411ff;
    }
    50% {
      text-shadow: 0 0 5px #b811ff, 0 0 5px #cf11ff, 0 0 5px #cf11ff;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 5px #c711ff, 0 0 5px #c011ff;
    }
  }

  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px; /* Reduced gap */
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translateY(20px);
  }

  .step.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .step-text {
    margin: 0;
    font-size: 1.2rem;
    animation: glow 2s infinite alternate, pulse 3s infinite;
  }

  .step-text.fade-out {
    opacity: 0;
  }

  .message {
    display: none;
    font-size: 1.1rem; /* Adjusted font size */
    margin-top: 2px; /* Reduced vertical margin */
    animation: glow 2s infinite alternate, fade-in 0.5s ease-in-out forwards;
  }

  .show-message {
    display: block;
  }

  .loading-bar-background {
    margin: 3px 0; /* Reduced vertical margin */
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    background-color: #212121;
    box-shadow: inset -2px 2px 4px #0c0c0c;
    border-radius: 15px;
    position: relative;
  }

  .loading-bar {
    height: 20px;
    width: 0%;
    background: linear-gradient(
      0deg,
      rgba(222, 74, 15, 1) 0%,
      rgba(249, 199, 79, 1) 100%
    );
    border-radius: 10px;
    animation: loading 3s ease-out forwards;
  }

  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .next-button {
    display: none;
    margin-top: 15px; /* Adjusted margin */
    animation: fade-in 0.5s ease-in-out forwards;
  }

  .next-button.show {
    display: block;
  }

  /* Button Styles */
  .cssbuttons-io {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0.8em;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
    animation: pulse 1.5s infinite;
  }

  .cssbuttons-io span {
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em;
    transition: color 0.4s;
  }

  .cssbuttons-io:hover {
    transform: scale(1.1);
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }